/docker/app/
/docker-test/app/
/docker-test/report/
/publish-tag-*.properties
/ansible.tar.gz
/dist
/tmp
/out-tsc
/node_modules
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-*
coverage
.grunt
bower_components
node_modules/
.npm
.eslintcache
.env
